
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100 Movies</title>
    
</head>
<style>
    body{
        background-color: antiquewhite;
    }
    h1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 200;
    }
</style>
<body>
    <h1>Home Page</h1>
    <p><h2>Welcome to the page where the best 100 movies are listed.</h2></p>

    <h2>Click the link to go the movies page and add your favourite movie.</h2><br>

    <a href="/movies">Click here to visit the movies page</a><br>
    <span>*This is just a dummy page to showcase the project.</span>

</body>
</html>